@import "styles";

.content {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;

  .detail {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 44px 0;

    .left {
      width: 750px;
      height: 100%;
    }
    .right {
      width: 360px;
      height: 100%;
    }

    @media screen and (max-width: 767px) {
      margin: 0;

      .right {
        display: none;
      }
    }
  }
  @media screen and (max-width: 767px) {
    padding: 0;
  }
}
.bottom {
  background-color: $bgGrayColor;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 10px;
  @media screen and (max-width: 767px) {
    padding: 0;
  }
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    width: 100%;
    padding: 30px 0;
    @media screen and (max-width: 767px) {
      flex-direction: column;
    }
    > label {
      display: inline-flex;
      align-items: center;
      flex: 1;
      max-width: 60%;

      > span:last-child {
        margin-left: 12px;
        color: $primaryColor;
        font-size: 14px;
        font-weight: bold;
      }
    }

    > div {
      display: flex;

      > button:last-child {
        margin-left: 40px;
      }
    }
    @media (max-width: 767px) {
      padding: 0;
      > label {
        padding: 20px;
        max-width: 100%;
      }
      > div {
        flex: 1;
        width: 100%;
        flex-direction: column;

        > button:last-child {
          margin-left:  0;
        }
      }
    }
  }
}
