@import "styles";

.root {
  border: 1px solid $borderGrayColor;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.03);
  height: auto;

  .bookContent {
    padding: 20px;
    font-size: 20px;
    font-weight: 300;
    @media (min-width: $bp-mobile) {
      padding: 10px;
    }
    .adultChildWrapper {
      display: flex;
      flex-direction: row;
      @media (max-width: $bp-mobile) {
        flex-direction: column;
        justify-content: space-between;
      }
      @media (min-width: $bp-mobile-landscape) and (max-width: $bp-mobile) {
        flex-direction: row;
      }
      @media (min-width: $bp-mobile) {
        flex-direction: column;
      }
      .adult, .child {
        display: flex;
        margin-bottom: 10px;
        span {
          &:first-child {
            margin-right: 10px;
          }
        }
      }
    }
    > div {
      display: flex;
      padding: 10px 25px;
      > span {
        &:first-child {
          margin-left: 0 !important;
        }
        &:last-child {
          margin-left: 10px !important;
        }
      }
      @media (min-width: $bp-mobile) {
        padding: 10px;
        > span {
          margin-left: 0 !important;
          &:last-child{
            margin-left: 10px !important;
          }
        }
      }
      &.checkInOut {
        padding: 10px 0;
        display: flex;
        justify-content: space-between;

        > div {
          flex: 1;

          &:first-child {
            margin-right: 10px;
          }
          &:last-child {
            margin-left: 10px;
          }
          :global(.ant-picker) {
            width: 100%;
          }
        }
      }
      &.yourOrder {
        padding: 10px 0;
        display: flex;
        flex-direction: column;

        > span {
          margin: 0;
          margin-bottom: 28px;
        }

        > div {
          font-size: 14px;
          font-weight: bold;
          display: flex;
          justify-content: space-between;
          align-items: center;

          > span {
            color: $primaryColor;

            > svg {
              margin-left: 15px;
              cursor: pointer;
            }
          }
        }
      }
      > span {
        margin-left: 20px;
      }
      .ant-btn {
        width: 100%;
      }
    }
    @media screen and (max-width: 767px){
      > div {
        padding: 10px;
      }
    }
  }

  .total {
    justify-content: center;
    align-items: center;

    .totalCost {
      color: $primaryColor;
      font-size: 24px;
      font-weight: bold;
    }
  }

  .bookNow, .addToItinerary {
    font-size: 24px;
    font-weight: bold;
    height: 60px;
    width: 100%;
    border-radius: 0;
    border: none;
  }
  .bookNow {
    background-color: $primaryLightColor;
    color: $primaryColor;

    &:hover, &:focus {
      background: $primaryLightColor;
      opacity: 0.9;
      color: $primaryColor;
    }
  }
  .addToItinerary {
    background-color: $primaryColor;
    color: white;

    &:hover, &:focus {
      background: $primaryColor;
      opacity: 0.9;
      color: white;
    }
  }
  .errorText {
    color: red;
    font-size: 16px;
    text-align: center;
    margin-bottom: 0;
  }
}
