@import "styles";

.root {
  width: 100%;

  .title {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 25px;
  }
  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    > div {
      font-weight: bold;

      &:first-child {
        > span {
          margin-right: 15px;
          color: $primaryColor;
          cursor: pointer;
        }
      }
      &:last-child {
        color: $primaryColor;

        > svg {
          margin-left: 10px;
          cursor: pointer;
        }
      }
    }
  }
}