.root {
  position: relative;

  .carousel {
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @media screen and (max-width: 768px) {
      height: 420px;
    }
    @media screen and (max-width: 468px) {
      height: 320px;
    }
  }

  .leftArrow, .rightArrow {
    position: absolute;
    top: 50%;
    transform: translateY(-15px);
    font-size: 24px;
    cursor: pointer;
    z-index: 1;
  }

  .leftArrow {
    left: 60px;
    @media screen and (max-width: 467px) {
      left: 20px;
    }
  }

  .rightArrow {
    right: 60px;
    @media screen and (max-width: 467px) {
      right: 20px;
    }
  }

  :global(.react-multi-carousel-item) {
    :global(.overlay) {
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
    }

    &:global(.react-multi-carousel-item--active) {
      :global(.overlay) {
        background: transparent;
      }
    }
  }
}
