@import "styles";

.root {
  width: 100%;

  background: $grayColor;
  padding: 13px 20px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 300;
  color: $borderGrayColor;

  .company {
    font-weight: bold;
    margin-left: 5px;
  }
}
