@import "styles";

.root {
  display: flex;
  align-items: center;
  .circle {
    height: 30px;
    width: 30px;
    background-color: $primaryColor;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .text {
    font-size: 26px;
    font-weight: 100;
    margin-left: 10px;
    color: gray;
    text-transform: none;
  }
}