@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

$primaryColor: #003398;
$primaryHoverColor: #2539a5;
$primaryLightColor: #00339833;
$primaryFocusBoxShadow: 0 0 0 2px rgba(0, 51, 152, 0.2);
$grayColor: #7b7c7e;
$greenColor: #00d6a3;
$brownColor: #b94b19;

$bgGrayColor: #f4f4f4;
$bgLightGrayColor: #fcfcfc;
$borderGrayColor: #dedede;

$bp-mobile: 768px;
$bp-mobile-landscape: 480px;

.flex-vertical-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bold {
  font-weight: bold;
}

:global(.ant-input:hover),
:global(.ant-input:focus),
:global(.ant-input-number:hover),
:global(.ant-input-number:focus)
:global(.ant-input-affix-wrapper:hover),
:global(.ant-picker:hover),
:global(.ant-checkbox:hover),
:global(.ant-checkbox-wrapper .ant-checkbox-inner:hover) {
  border-color: $primaryColor !important;
}
:global(.ant-input:focus),
:global(.ant-input-number:focus) {
  box-shadow: $primaryFocusBoxShadow !important;
}
